.cascade-node {
    border: thin solid black;
    border-radius: 15px;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cascade-container {
    border: thin solid black;
    border-radius: 15px;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cascade-container--selected {
    background-color: #004a995d;
}

.tracery-in-use {
    background-color: #0099785d;
}


.example-highlighter {
    background: #004a995d;
}

.tracery-app-root {
    padding: 50px;
}

.tracery-bdx {
    max-width: 800px;
}

.tracery-bdx-container {
    position: absolute;
    pointer-Events: none;
}

.tracery-in-use-0 {
    background: #4c78a8;
}

.tracery-in-use>.ͼo {
    color: black !important
}

.tracery-in-use-0>.ͼo,
.tracery-in-use-4>.ͼo,
.tracery-in-use-8>.ͼo,
.tracery-in-use-12>.ͼo,
.tracery-in-use-18>.ͼo {
    color: white !important
}


.tracery-in-use-1 {
    background: #9ecae977;
}

.tracery-in-use-2 {
    background: #f5851877;
}

.tracery-in-use-3 {
    background: #ffbf7977;
}

.tracery-in-use-4 {
    background: #54a24b77;
}

.tracery-in-use-5 {
    background: #88d27a77;
}

.tracery-in-use-6 {
    background: #b79a2077;
}

.tracery-in-use-7 {
    background: #f2cf5b77;
}

.tracery-in-use-8 {
    background: #43989477;
}


.tracery-in-use-9 {
    background: #83bcb677;
}

.tracery-in-use-10 {
    background: #e4575677;
}

.tracery-in-use-11 {
    background: #ff9d9877;
}

.tracery-in-use-12 {
    background: #79706e77;
}


.tracery-in-use-13 {
    background: #bab0ac77;
}

.tracery-in-use-14 {
    background: #d6719577;
}

.tracery-in-use-15 {
    background: #fcbfd277;
}

.tracery-in-use-16 {
    background: #b279a277;
}

.tracery-in-use-17 {
    background: #d6a5c977;
}

.tracery-in-use-18 {
    background: #9e765f77;
}

.tracery-in-use-19 {
    background: #d8b5a577;
}