.vl-demo {
    padding: 50px;
}

.vl-demo .editor-container {
    width: 750px;
    max-height: 800px;
}

.vl-demo .chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    overflow: auto;
}

.pill, .shelf-content {
    background-color: white;
    color: white;
    /* border: 1px dashed gray; */
    cursor: move;
    /* margin-bottom: 1.5rem; */
    margin-right: 1.5rem;
    padding: 0.5rem 1rem;
    background: #009879;
    border-radius: 30px;
}

.shelf {
    align-items: center;
    /* border-radius: 20px; */
    border: 1px dashed gray;
    color: white;
    display: flex;
    height: 1em;
    justify-content: center;
    padding: 1em;
    text-align: center;
    width: 12rem;
}

.shelf-content {
    align-items: center;
    border: 1px dashed gray;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.shelf.shelf-empty {
    background-color: gray;
}

.shelf.shelf-full {
    background-color: none;
}

.shelf.shelf-droppable {
    background-color: lightgray;
}

.counter {
    align-items: center;
    background: red;
    border-radius: 2px;
    color: white;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
    white-space: normal;
    text-align: center;
}

.dynamic-projection-example {
    align-items: center;
    background: rebeccapurple;
    border-radius: 2px;
    color: white;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
    white-space: normal;
    text-align: center;
}

/* .editor-container {
    max-width: 50%;
} */

.data-container {
    border: thin solid black;
    border-radius: 5px;
    display: flex;
    /* align-items: ; */
    padding: 5px;
}

/* styler example */

.styler-app {
    width: 100%;
    padding: 50px;
}

.styler-app .editor-container {
    min-width: 650px;
    width: 650px;

}

.styler-app .chart-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

/* table */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}