body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/*  We have our own custom color picker button */
.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.position-relative {
  position: relative;
}



.centering {
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}




.App, .styler-app, .editor-container, .tracery-app-root, .vl-demo, #quiet-root {
  overflow: auto;
}

/* EDITOR STUFF */

.editor-container {
  position: relative;
}

.editor-target {
  height: 100%;
}

.cm-annotation-widget-popover-container {
  max-width: 420px;
  outline: none;
}

body, html, #root, .proot {
  height: 100%;
}



.proot .link-container h1 {
  position: absolute;
  left: 29%;
  top: 51px;
  color: #333;
  text-decoration: none;
}

#header {
  background: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.root {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px;
  width: 100%;
}

.root img {
  max-width: 100%;
}


.hero {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  height: 300px;
  width: 300px;
}

.hero img {
  width: 300px;
  position: absolute;
}

.md-container {
  max-width: 600px;
  height: calc(100% - 100px);
  overflow-y: scroll;
}

.md-container a, .md-container a:visited {
  color: #009979;
}

.link-container a:visited, .link-container a, #header a, #header a:visited {
  color: white;
}

.link-container {
  align-items: center;
  background: #222222ef;
  color: white;
  height: 100%;
  /* min-width: 300px; */
  width: 320px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.cm-editor {
  height: 100%
}

.cm-scroller {
  overflow: auto
}



/* TODO make more specific */
div[tabindex="-1"]:focus {
  outline: 0;
}

.inner-link-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanation-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center
}

/* Handle Mobile stuff */

.mobile-proot {
  display: none;
  width: 100%;
  overflow-x: none;
  overflow-y: scroll;
  height: 100%;
}

.mobile-proot .root {
  padding: 20px;
  width: calc(100% - 40px);
}

.mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #333;
  color: white;
}

.mobile-header a:visited, .mobile-header a {
  color: white;
}

@media (max-width: 600px) {
  .proot, #cm-monocle {
    display: none !important;
  }

  .mobile-proot {
    display: block
  }
}