/*  We have our own custom color picker button */
.pickr {
  display: none;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

/* NUMBER WIDGET (todo remove) */

.cm-num-widget {
  display: inline-block;
  font-family: monospace;
}

.cm-inc-widget {
  margin-left: 5px;
  margin-right: 1px;
  line-height: 1;
  padding: 0;
}

.cm-dec-widget {
  margin-right: 3px;
  line-height: 1;
  padding: 0;
}

/* CLICK TARGET WIDGET */

.cm-container-click-target {
  display: inline-block;
  font-family: monospace;
}

.cm-container-click-target button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 0.8;
  margin-left: 0px;
  margin-right: 5px;
  padding: 0;
}


/* BOOLEAN WIDGET */

.cm-bool-widget {
  display: inline-block;
}

.cm-bool-checkbox-widget {
  margin: 0 3px 0 0px;
  position: relative;
  top: 2px;
}

.cm-slider-widget {
  display: inline-block;
  vertical-align: middle;
}

/* COLOR NAME WIDGET */

.cm-color-widget {
  display: inline-block;
  /*  CodeMirror has white-space: pre by default
   Resetting here fixes a visual glitch where some whitespace in the color picker code
   makes the widget align weirdly */
  white-space: normal;
}

.cm-color-name-widget {
  display: inline-block;
  vertical-align: super;
}

.cm-color-widget {
  width: 10px;
  height: 10px;
  vertical-align: super;
}

.color-name-picker {
  position: absolute;
  background: white;
  z-index: 100;
  overflow: auto;
  /*  This prevents the picker for becoming narrower
   near the right side of the screen. It preserves its width,
   which allows the JS code to move it left the right amount */
  width: max-content;

  /*  The React code sets the `left` and `top` properties according to the button location
   This property moves the picker over an additional bit */
  margin-left: 20px;


}

.color-name-picker .color-group {
  display: inline-block;
  width: 75px;
  font-weight: bold;
  margin-bottom: 0.1rem;
  margin-top: 0.2rem;
}

.color-name-picker {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: sans-serif;
}



.color-name-picker .color-item,
.color-name-picker .color-group {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.color-name-picker .color-item {
  font-family: monospace;
  margin-bottom: 0px;
  /*  To make the color strips stretch all the way across */
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.color-name-picker .color-item:first-of-type {
  margin-top: 2px;
}

.color-name-picker .color-item:last-of-type {
  margin-bottom: 10px;
}

.color-name-picker .selected {
  font-weight: bold;
}

.color-name-picker .color-swatch {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 1px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.color-name-picker .buttons {
  display: flex;
  margin-top: 1rem;
}

.color-name-picker .buttons button:first-child {
  margin-right: 0.5rem;
}

/* GENERIC WIDGET STUFF */

.cm-annotation-widget, .cm-projection-widget {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.cm-annotation-widget {
  border-bottom: 1px dotted black;
}

.cm-annotation-menu {
  background: floralwhite;
  border-left: 15px solid salmon;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  height: 300px;
  overflow-y: auto;
  padding-left: 5px;
  top: 1em;
  width: 400px;
  z-index: 1000;
}

/* EDITOR STUFF */

.editor-container {
  position: relative;
}

.cm-annotation-widget-popover-container {
  max-width: 400px;
  outline: none;
}

.cm-annotation-menu-bg {
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cm-annotation-widget-popover-container-row {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 2px;
  border-top: thin dotted black;
  font-size: 13px;
}

.cm-annotation-widget-popover-container-row-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40px;
  border-left: solid 15px floralwhite;
}

.cm-annotation-widget-popover-container-row-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.cm-annotation-widget-element {
  border-left: solid 15px floralwhite;
}

.cm-annotation-widget-element-selected {
  border-left: solid 15px aqua;
}

/* TODO make more specific */
div[tabindex="-1"]:focus {
  outline: 0;
}


/* highlighter */
.cm-line {
  line-height: 20px;
}

.cm-annotation-highlighter {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}


.cm-annotation-highlighter-1 {
  text-underline-offset: 2px;
  text-decoration-color: rebeccapurple;
}

.cm-annotation-highlighter-2 {
  text-underline-offset: 4px;
  text-decoration-color: goldenrod
}

.cm-annotation-highlighter-3 {
  text-underline-offset: 6px;
  text-decoration-color: pink
}

.cm-linter-highlight {
  /* background-color: sandybrown; */
  background-color: lightcoral;
}